.rating-flex {
    flex-wrap: wrap;
  }

  .rating-input-wrapper label {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .rating-input-wrapper input[type="radio"] {
    display: none;
  }

  .rating-input-wrapper input[type="radio"] + span {
    cursor: pointer;
  }

  .rating-input-wrapper input[type="radio"]:checked + span {
    background-color: #367fa9;
    color: #fff;
  }
